#contact{margin-top:80px;margin-bottom:40px;}
#contact h2{color:#000;font-family: Cantarell;font-size: 60px;font-weight: 800;}
.para1{color:#ccc;font-size: 18px;font-weight: 400;}
#contact row{margin-top:40px;}
#contact h3{color:#000;font-size: 30px;}
.para2{color:#ccc;}
.form{margin-top:40px;}
.form  button{background:#F0E68C; color:#fff;border-color:#F0E68C;}
.form button:hover{background:#ccc; color:#000;border-color:#ccc;}
.para3{color:#F0E68C;}
#googleMap{width:100%;height:380px;margin-top:30px;margin-bottom:30px;}