#total_lf{margin-top:80px;color:#000;}
#total_lf h3{margin-top:40px;}
#total_lf h3 b{font-family: Anton;font-size: 38px;font-weight: 800;line-height: 26.4px;}
.para1{color:#ccc;margin-top:40px;}
.para2{color:#ccc;}
#total_lf button{margin-top:15px;background:#F0E68C; color:#fff;border-color:#F0E68C;}
#total_lf button:hover{background:#ccc; color:#000;border-color:#ccc;}
.menu{margin-top:40px;}
.para3{font-size: 16px;font-weight: 500;line-height: 16.4px;color:#ccc;margin-top:40px;}
.para4{color:#ccc;}
blockquote{color:#ccc;font-size:20px;}